body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, rgba(69, 205, 230, 0.467),#7c19a3);
}

.container{
    max-height: 900px;
    width: 50%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 600;
    position: relative;
}

.container .title::before{
     content: '';
     position: absolute;
     height: 3px;
     width:50px;
     left: 0;
     bottom: 0;
     background: #9b59b6;
}
.container form .user_details{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 12px 0;
    justify-content: space-between;
}

.container form .user_details .inputbox{
    margin-left: 5px; 
    margin-right: 2px;
     
}

.container form .user_details .inputbox .details{
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
}

.container form .user_details input{
    outline: none;
    height: 45px;
    width:100%;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 1px ;
    transition: all 0.3s ease;
}
.container form .gender .gender-title{
    font-size: 25px;
    font-weight: 600;
}

.container form .gender .category{
    width:80%;
    background: rgb(201, 201, 214);
    margin: 14px 0;
    
}
.container form .gender .category label {
    height: 18px;
    width:18px;

}
.button{
    height: 45px;
    margin:45px 0;
}
.button input{
    height: 100%;
    width: 100%;
    color:#23037c;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background:linear-gradient(135deg, rgba(69, 205, 230, 0.467),#7c19a3) ;
}

.button input:hover{
    background:#7d55eb;
}